/* src/App.css */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.manrope {
  font-family: "Manrope", sans-serif;
}
/* custom color */
.text-gradient {
  font-size: 3rem;
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #4f39f6 0%,
    #632ff7 28%,
    #7525f8 54%,
    #9514fa 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
/* bg gradient */
.bg-gradient {
  background: linear-gradient(90deg, #4f39f6 0%, #9514fa 100%);
}
